<ion-view>
  <ion-nav-title>Add Item</ion-nav-title>
  <ion-content>

    <p class="padding" ng-show="!vm.isMobile">The mobile app use a barcode scanner to read barcodes. In order to mimic this functionality in a web browers, I have provided a short list of barcodes that you can select to lookup. Please also feel free to try your own barcodes.  Mobile: {{vm.isMobile}}</p>
    <div ng-show="!vm.isMobile">
      <label class="item item-input">
        <select ng-model="vm.barcode" ng-options="barcode for barcode in vm.barcodes"></select>
      </label>
    </div>
    <div class="item item-input" ng-show="!vm.isMobile">
      <input type="text" id="bc-input" placeholder="Select or type a barcode." ng-model="vm.barcode">
      <button class="item-button-right button button-small" id="bc-submit" ng-click="vm.lookupBarcode()">
          Submit
      </button>
    </div>
    <div ng-show="vm.isMobile && vm.showLoader">
      <div class="backdrop visible backdrop-loading active">
        <div class="loading-container visible active">
          <div class="loading">
            <p>....loading</p>
            <ion-spinner></ion-spinner>
        </div>
       </div>
      </div>
    </div> -->
    <div class="card" ng-show="vm.notFound">
      <h4 class="padding text-center">{{vm.notFound}}</h4>
      <button class="button button-block button-positive" ng-click="vm.scanNew()" ng-show="vm.isMobile">
        Please scan different barcode.
      </button>      
<!--       <button class="button button-block button-positive ng-show="!vm.isMobile">
        Please try a different barcode.
      </button> -->
    </div>
    <div class="list" ng-show="vm.product">
<!--       <button class="button button-block button-positive" ng-click="vm.scanNew()">
        Add another product
      </button> -->
<!--       <ion-slide-box>
        <ion-slide ng-repeat="product in vm.products"> -->
          <div class="card">  
            <div class="padding">
              <div class="row">
                <div class="col">
                  <img ng-src="{{vm.product.imageUrl}}" width="100%">
                </div>
                <div class="col">
                  <h3>{{vm.product.brandName}}</h3>
                  <h4>{{vm.product.title}}</h4>
                </div>
              </div>
            </div>
          </div>
<!--        </ion-slide>
      </ion-slide-box> -->
<!--       <div class="list"> -->
        <div class="item item-divider">
          1. Add generic name for this item:
        </div>
        <label class="item item-input">
          <input type="text" placeholder="Example: milk, eggs, cheese, etc." ng-model="vm.semName">
        </label>
         <div class="item item-divider">
          2. Add {{vm.semName || 'this item'}} to one of the following list
        </div>
        <ion-radio ng-model="vm.xDays.startDate" ng-value="vm.current">Current List: {{vm.current | date: 'EEEE, MMM d'}} <!-- | date: 'EEE, MMM d, yyyy'}} -->
        </ion-radio>
        <ion-radio ng-model="vm.xDays.startDate" ng-value="vm.next">Next List: {{vm.next | date: 'EEEE, MMM d'}}<!--  | date: 'EEE, MMM d, yyyy'}} -->
        </ion-radio>
        <ion-radio ng-model="vm.xDays.startDate" ng-value="vm.following">Following List: {{vm.following | date: 'EEEE, MMM d'}} <!-- | date: 'EEE, MMM d, yyyy'}} -->
        </ion-radio>
        <ion-radio ng-model="vm.xDays.startDate" ng-value="vm.hold">Hold List: {{vm.hold | date: 'EEEE, MMM d'}} <!-- | date: 'EEE, MMM d, yyyy'}} -->
        </ion-radio>
         <div class="item item-divider item-text-wrap">
          3. Choose how often you think you need to repurchase {{vm.semName || 'this item'}}
        </div>
        <div class="item item-input">
          <div class="col-15">
            <p>Every</p>
          </div>
          <div class="col-15">
            <label class="item item-input item-borderless">
               <input type="number" ng-model="vm.xDays.occur" style="width: 50px; font-size: 20px;">
            </label>
          </div>
          <div ng-repeat="option in vm.freqOpts.options" style="width: 85px">
          <div class="col">
            <ion-radio name="mult" value="{{option.incrementVal}}" ng-model="vm.xDays.mult">{{option.name}}</ion-radio>
          </div>
          </div>
        </div>
        <button class="button button-block button-balanced" ng-click="vm.addItem()">
          Add product to my list
        </button>
        <button class="button button-block button-positive" ng-click="vm.scanNew()">
          Scan new
        </button>

    </div>
  </ion-content>
</ion-view>