<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    <div class="list">
      <div class="item item-divider">
        Personal Info:
      </div>
      <label class="item item-input">
        <input type="text" placeholder="Email Address">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name">
      </label>
      <label class="item item-input">
        <input type="text" placeholder="First Name">
      </label>
      <div class="padding">
      <button class="button button-block button-positive">
        Reset Password
      </button>
      </div>  
      <div class="item item-divider">
        Shopping Frequency:
      </div>
      <!-- <ion-list> -->
        <ion-radio ng-model="choice" ng-value="'A'" class="item-text-wrap">I prefer to shop on certain days of the week</ion-radio>
        <ion-radio ng-model="choice" ng-value="'B'">I prefer to shop every X days</ion-radio>
      <!-- </ion-list> -->
      <div class="row">
        <div class="col">
          <ion-checkbox ng-model="filter.blue">Monday</ion-checkbox>
          <ion-checkbox ng-model="filter.yellow">Tuesday</ion-checkbox>
          <ion-checkbox ng-model="filter.pink">Wednesday</ion-checkbox>
          <ion-checkbox ng-model="filter.blue">Thurday</ion-checkbox>
        </div>
        <div class="col">

          <ion-checkbox ng-model="filter.yellow">Friday</ion-checkbox>
          <ion-checkbox ng-model="filter.pink">Saturday</ion-checkbox>
          <ion-checkbox ng-model="filter.pink">Sunday</ion-checkbox>
        </div>
      </div>
      <div>
      </div>

      <div class="item item-input">
        <div class="col">
          <p>Every</p>
        </div>
        <div class="col">
          <!-- <label class="item item-input"> -->
            
          <input type="number"></input>
          <!-- </label> -->
        </div>
        <div class="col">
          <p>days</p>
        </div>
      </div>



    <!-- </div> -->
    <p>Starting on</p>
    <div class="item item-input">
    <button class="button button-small" ng-click="vm.dateMinus()">
      -
    </button>
        <input type="text" ng-model="vm.date" ng-click="vm.openDatePicker()">
        <div class="padding-right">
    <button class="button button-small" ng-click="vm.datePlus()">
      +
    </button>
      </div>

    </div>  
    </ion-list>

  </ion-content>
</ion-view>
